PORT=3000
JWT_SECRET=your_jwt_secret_key_here
JWT_KEY=your_jwt_key_here
MONGO_URI=your_mongodb_atlas_connection_string
FRONTEND_URL=http://localhost:5173
BACKEND_URL=https://mediq-backend-mf7h.onrender.com
NODE_ENV=production
